header{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    justify-items: center;
    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(215, 215, 215);
    height: 50px;
}